// imagesBaseURL
$imagesBaseURL: "https://tedxshenzhen.oss-cn-shenzhen.aliyuncs.com/images/";
// font-size
$font-size-head: 1.5rem;
$font-size-title: 1.2rem;
$font-size-maincontent: 1.2rem;
$font-size-content: 1rem;
$font-size-secondary: 0.8rem;
$font-size-description: 0.6rem;
// font-color
$color-black: #000000;
$color-semi: #353535;
$color-gray: #666666;
$color-light: #b2b2b2;
$color-white: #ffffff;
// background-color
$bg-color-black: #000000;
$bg-color-semi: #454545;
$bg-color-gray: #888888;
$bg-color-light: #f8f8f8;
$bg-color-white: #ffffff;
// line-height
$D-line-height: 1.5;
//
$right-color: #09bb07;
$error-color: #e64340;
//margin
$margin: 0.6rem;
$padding: 0.6rem;
$margin-bottom: 0.6rem;
// border
$color-border: #eeeeee;
$color-border-D9: #d9d9d9;
$border-radius: 0.25rem;